/*fonte*/
@font-face{
    src: url('../Fontes/NerkoOne-Regular.ttf');
    font-family: minhaFonte;
}

/*Padronizar todas as tags*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: minhaFonte;
    
}

/* Topo*/
header{
    background-color: rgb(207, 199, 199);
    display: flex;

   }

   header img{
    margin: 10px;
}
header a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

/*Rodapé*/
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    }